apiVersion: v1
kind: Service
metadata:
  name: {{ include "decision-engine.fullname" . }}
  labels:
    {{- include "decision-engine.labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ .Values.decisionEngine.metadata.labels.component }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- range .Values.service.ports }}
    - name: {{ .name }}
      port: {{ .port }}
      targetPort: {{ .targetPort }}
      protocol: {{ .protocol | default "TCP" }}
    {{- end }}
  selector:
    {{- include "decision-engine.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: {{ .Values.decisionEngine.metadata.labels.component }}
